.no-controls .nokia-place-map a.nokia-place-tile-switch,
.no-controls .nokia-place-map a.nokia-place-zoom-in,
.no-controls .nokia-place-map a.nokia-place-zoom-out{
    display: none;
}
.no-contact .nokia-place-contact{
    display: none;
}
.no-thumbnail .extended-img-preview{
    display: none;
    visibility: hidden;
}
.no-actions .nokia-place-sharemenu,
.no-actions .nokia-places-blue-sharemenu{
    display: none;
}

/**
* Some additions
**/
.nokia-places-blue-compact h2.nokia-place-name {
    overflow: hidden;    
}
.nokia-places-blue-sharemenu .nokia-place-share-container input{
    width: 40%;
}