@font-face {
    font-family: "NokiaPureTextLight";
    src: url("font/nokiapuretextlight-webfont.woff") format("woff"),
        url("font/nokiapuretextlight-webfont.ttf") format("truetype"),
        url("font/nokiapuretextlight-webfont.svg#NokiaLarge-Light") format("svg");
}
body{
    font-family: "Lucida Grande",Verdana,Arial,"Bitstream Vera Sans",sans-serif;
    font-size: 11px;
    color: #333;
    margin: 0;
    padding: 0;
}
a{
    color: #3a84a6;
    cursor: pointer;
}

h1 {
    color: #5A5A5A;
/*    font-family: NokiaPureTextLight;*/
    font-family: Georgia;
    margin: 10px 0;
    padding: 0;
    font-size: 25px;
    font-weight: normal;
	color: #124191;
}
.hidden{
    display: none;
}
.clearb{
    clear:both;
}
#wrapper{
    width: 905px;
    position: absolute;
    margin: 10px;
	min-height: 90%;
}

#map, #placeContainer{
    width: 930px;
	height: 565px;
	min-height: 90%;
}
#map{
    position: absolute;
    top: 0;
    right: 0;
    /*height: 350px;*/
	min-height: 90%;
}

#placeContainer .smallMap{
    width: 635px;
}

#placeContainer{
    position: relative;
    margin: 10px 0 0 0;
}

#no-results #error-msg {
    /*border-bottom: 1px solid #DADBDA;*/
    border-top: 1px solid #DADBDA;
    margin-top: 15px;
    padding: 15px 0;
}

#no-results-search-term {
	font-weight: 800;
}

#no-results #error-msg p.paragraph1 {
    padding-bottom: 10px;
}

#resultList, #no-results{
    position: absolute;
    left: 0;
    top: 0;
    width: 280px;
    z-index: 100;
	padding-right: 5px;
	height: 565px;
}

#no-results {
	min-height: 0;
}

#placeWidgetContainer{
    position: relative;
    z-index: 20000;
    background:  #fff;
}

#placeWidget{
    position: relative;
    width: 930px;
    z-index: 100;
    margin: 0;
    background: #FFF;
}

.layoutCompact #placeWidget{
    width: 234px;
}

.layoutCompact #placeWidget,
.layoutCompact #placeWidget .nokia-places-blue-map .nokia-place-map-container{
    height: 180px;
}

#searchBox{
    width: 450px;
}
#createPlace{
    position: absolute;
    top: 46px;
    right: 0;
    z-Index: 200;
    cursor: pointer;
    
}
.insert_place{
    display: none;
    background-color: #FFFFFF;
    background-image: url("../../placesapi/css/img/common/icons_vert_sprite.png");
    background-position: 10px -214px;
    background-repeat: no-repeat;
    border: 1px solid #BDCBE0;
    border-radius: 12px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.35);
    color: #333333;
    cursor: pointer;
    font-size: 16px;
    font-weight: lighter;
    height: 30px;
    margin: 0 0 0 3px;
    padding: 0 10px 0 22px;
    width: 88px;
    position: absolute;
    top: 55px;
    left: 683px;
    z-Index: 200;
}

#map .ovi_mp_zoom{
    top: 30px;
}

.button {
    background-color: #FFFFFF;
    border: solid 1px #BBB;
    border-radius: 11px;
    cursor: pointer;
    height: 23px;
    line-height: 23px;
    margin: 2px 0 2px 20px;
    font-size: 11px;
    color: #464646;    
    padding: 0px 8px 2px 8px;
    display: block;
}

.button-primary {
    display: block;
    background: url("../../../../../wp-admin/images/button-grad.png") repeat-x scroll left top #21759B;
    border-color: #298CBA;
    color: #FFFFFF;
    font-weight: bold;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3);    
    border-radius: 11px;
    cursor: pointer;
    height: 23px;
    line-height: 23px;
    margin: 2px 0 2px 20px;
    color: #FFF;
    text-align: center;
    padding: 0px 8px 2px 8px;
}
#insertAction,
#cancelAction{
    float: right;
}
.mapEnabled #insertAction{
    display: none;
}
.mapEnabled #cancelAction{
    margin-top: 575px;
}

.tab{
    padding: 10px 0;
    border-top: 1px solid #DFDFDF;
    clear: both;
    min-height: 50px;
}
.tab h5{
    width: 85px;
    float: left;
    padding: 0;
    margin: 0;
    font-size: 11px;
    font-weight: bold;
    color: #333;
}
.tab .contentLeft{
    float: left;
}
.tab .contentRight{
    float: right;
}

#layoutTab .contentLeft{
    width: 300px;
}

#layoutTab .contentLeft.title{
    width: 500px;
}

.tab ul#layoutOptions {
    list-style: none;
}
.tab ul#layoutOptions li{
    float: left;
    margin: 5px;
    width: 31px;
    height: 34px;
    background: url('../images/layout.png') no-repeat;
}
.tab #layoutOptions li#layoutCompact{
    background-position: -204px 0;
}
.tab #layoutOptions li#layoutMap{
    background-position: 0 0;
}
.tab #layoutOptions li#layoutBasic{
    background-position: -51px 0;
}
.tab #layoutOptions li#layoutAdvanced{
    background-position: -102px 0;
}
.tab #layoutOptions li#layoutFull{
    background-position: -153px 0;
}
.tab #layoutOptions li#layoutCompact.active{
    background-position: -204px -40px;
}
.tab #layoutOptions li#layoutMap.active{
    background-position: 0 -40px;
}
.tab #layoutOptions li#layoutBasic.active{
    background-position: -51px -40px;
}
.tab #layoutOptions li#layoutAdvanced.active{
    background-position: -102px -40px;
}
.tab #layoutOptions li#layoutFull.active{
    background-position: -153px -40px;
}

.tab .checkboxContainer {
    width: 400px;
}
.tab .checkboxContainer div{
    width: 130px;
    float: left;
}
.tab .sizes input, .tab .contentLeft .input{
    background-color: #FFFFFF;
    border-color: #DFDFDF;
    border-radius: 6px 6px 6px 6px;
    border-style: solid;
    border-width: 1px;
    height: 16px;
    line-height: 14px;
    margin: 0;
    padding: 7px 14px 5px 10px;
    width: 50px;    
}

.tab .contentLeft .input{
    width: 350px;
    margin-top: 10px;
}


.tab .fixedSizes a{
    background: #F5F5F5;
    padding: 10px 5px;
    margin: 5px;
    color: #468CAB;
    float: left;
    display: block;
}
.tab .sizes{
    border-left: 1px solid #DDDDDD;
    margin: 5px 0;
    padding-left: 20px;
    width: 688px;
}
.tab .fixedSizes a.active{
    color: #FFF;
    background: #D55226;
}
.labelText, .label{
    color: #aaa;
    font-style: italic;
}


/*
    dark category icons
*/
.nokia-blue-categoryicon-dark-Accomodation {
    background-position: 0 -60px;
}
.nokia-blue-categoryicon-dark-Address {
    background-position: 0 -5px;
}
.nokia-blue-categoryicon-dark-AreasInfrastructure {
    background-position: 0 -985px;
}
.nokia-blue-categoryicon-dark-Automotive {
    background-position: 1px -440px;
}
.nokia-blue-categoryicon-dark-BusinessServices {
    background-position: 0 -115px;
}
.nokia-blue-categoryicon-dark-EatDrink {
    background-position: -1px -168px;
}
.nokia-blue-categoryicon-dark-Facility {
    background-position: 0 -223px;
}
.nokia-blue-categoryicon-dark-GoingOut {
    background-position: 0 -277px;
}
.nokia-blue-categoryicon-dark-Leisure {
    background-position: 0 -659px;
}
.nokia-blue-categoryicon-dark-NatureGeography {
    background-position: 0 -1039px;
}
.nokia-blue-categoryicon-dark-Shopping {
    background-position: -1px -767px;
}
.nokia-blue-categoryicon-dark-SightsMuseums {
    background-position: 0 -387px;
}
.nokia-blue-categoryicon-dark-Transport {
    background-position: 0 -1094px;
}
