html, body {
	height: 100%;
}

.nokia-places-wordpress-categorysearch .nokia-categories{
    border: solid 1px #F5F5F5;
    padding:1px;
    width: 298px;
}

.nokia-places-wordpress-categorysearch a{
    background: url("../images/category_sprite.png") no-repeat;
    display: block;
    width: 25px;
    height: 22px;
    cursor: pointer;
    padding: 1px;
}

.nokia-places-wordpress-categorysearch a{
    float:left;
}

.nokia-places-wordpress-categorysearch a:hover{
    background-color: #F5F5F5;
    border: solid 1px #DDDDDD;
    padding: 0px;
    -webkit-border-radius: 0.3em 0.3em 0.3em 0.3em;
    -moz-border-radius: 0.3em 0.3em 0.3em 0.3em;
    border-radius: 0.3em 0.3em 0.3em 0.3em;
    
    -webkit-transition: background-color 0.3s ease-in-out;
    -moz-transition: background-color 0.3s ease-in-out;
    -o-transition: background-color 0.3s ease-in-out;
    -ms-transition: background-color 0.3s ease-in-out;
    transition: background-color 0.3s ease-in-out;
}


.nokia-places-wordpress-categorysearch a:active {
    background-color: #183AAC;
}

.nokia-places-wordpress-categorysearch .nokia-clear{
    clear:both;
}

.nokia-places-wordpress-categorysearch a.shopping{
    background-position: 0px -473px;
}
.nokia-places-wordpress-categorysearch a.going-out{
    background-position: 0px -258px;
}
.nokia-places-wordpress-categorysearch a.transport{
    background-position: 0px -387px;
}
.nokia-places-wordpress-categorysearch a.facilities{
    background-position: 0px -215px;
}
.nokia-places-wordpress-categorysearch a.natural-geographical{
    background-position: 0px -344px;
}
.nokia-places-wordpress-categorysearch a.eat-drink{
    background-position: 0px -172px;
}
.nokia-places-wordpress-categorysearch a.leisure-outdoor{
    background-position: 0px -430px;
}
.nokia-places-wordpress-categorysearch a.sights-museums{
    background-position: 0px -301px;
}
.nokia-places-wordpress-categorysearch a.business-services{
    background-position: 0px -129px
}
.nokia-places-wordpress-categorysearch a.administrative-areas-buildings{
    background-position: 0px -86px;
}
.nokia-places-wordpress-searchbox a,
.nokia-places-wordpress-resultlist a,
.nokia-places-wordpress-place a{
    color: #0099BB;
    font-weight: normal;
    font-size: 11px;
    /*font-family: Arial;*/
    text-decoration: none;
}
.nokia-places-wordpress-resultlist *{
    /*font-family: Arial; */   
}

.nokia-places-wordpress-resultlist {
    width: 310px;
}

.nokia-places-wordpress-resultlist.loading{
    background: url('../images/loading-big.gif') no-repeat 94px 190px #fff;
}

.nokia-places-wordpress-resultlist p {
    margin: 0px;
    padding: 0px;
}

.nokia-places-wordpress-resultlist ul{
    list-style: none;
    padding: 0px;
    margin: 0px;
}

.nokia-places-wordpress-resultlist.loading ul{
    display:none;
}

.nokia-places-wordpress-resultlist .nokia-place-list,
.nokia-places-wordpress-resultlist .nokia-place-list-elem {
    clear: both;
}

.nokia-places-wordpress-resultlist .nokia-place-list-elem {
    position: relative;
    margin: 0;
    padding: 12px 0px 12px 5px;
    border-bottom: solid 1px #EEEEEE;
    cursor: pointer;
}

.nokia-places-wordpress-resultlist .nokia-place-list-elem.hover{
    padding: 12px 0px 12px 2px;
    border-left:solid 3px #0066AA;
}

.nokia-blue-categoryicon{
    display: block;
    width: 22px;
    height: 22px;
    margin: 2px 0px 5px 2px;
}

.nokia-places-wordpress-resultlist .nokia-wordpress-list-index{
    padding: 5px 0 0 8px;
	color: #fff;
	display: block;
	font-weight: bold;
    font-size: 14px;
    line-height: 16px;
}

.nokia-places-wordpress-resultlist .nokia-pagination{
    width: 100%;
}

.nokia-places-wordpress-resultlist ul.list-pagination {
    height: 20px;
    text-align: center;
}

.nokia-places-wordpress-resultlist .nokia-place-name {
    font-size: 12px;
    width: 200px;
    font-weight: bold;
    margin-left: 35px;
}

.nokia-places-wordpress-resultlist .nokia-place-address {
    margin: 2px 0 5px 35px;
    line-height: 14px;
    color: #666666;
    font-size: 11px;
}

.nokia-places-wordpress-resultlist ul.list-pagination li {
    display: inline;
    cursor: pointer;
    margin: 2px;
    font-size: 12px;
    color: #666;
}

.nokia-places-wordpress-resultlist ul.list-pagination li.current {
    color: #000;
    font-weight: bold;
}

.nokia-places-wordpress-resultlist .nokia-places-blue-rating{
    height: 10px;
    position: absolute;
    right: 10px;
    bottom: 13px;
    width: 65px;
}

.nokia-places-wordpress-resultlist .nokia-places-blue-rating .nokia-place-ratings-container ul li,
.nokia-places-wordpress-resultlist .nokia-places-blue-rating .nokia-place-ratings-container{
    cursor: default;
}

.nokia-places-wordpress-resultlist .nokia-places-blue-rating .nokia-place-ratings-container{
    padding: 0px;
}

.nokia-places-wordpress-resultlist .nokia-place-list-elem .nokia-blue-category-pin{
    background-image: url('../images/pin.png');
    background-repeat: no-repeat;
    width: 26px;
    height: 34px;
}

.nokia-places-wordpress-resultlist .nokia-place-list-elem .nokia-list-elem-left{
	float: left;
	width: 26px;
}

.nokia-places-wordpress-resultlist .nokia-wordpress-preview-label,
.nokia-places-wordpress-resultlist .nokia-wordpress-preview-label:visited{
    font-size: 12px;
    color: #0066AA;
    right: 3px;
    bottom: 6px;
    position: absolute;
    cursor: pointer;
}

.nokia-places-wordpress-resultlist .nokia-wordpress-preview-label:hover{
    background-color: #0066AA;
    color: #fff;
    border-radius: 5px 5px 5px 5px;
    margin: 0px -5px;
    padding: 2px 5px;
}

.nokia-places-wordpress-searchbox *{
    font-family: Arial;
    font-weight: normal;
}

.nokia-places-wordpress-searchbox .nokia-searchbox{
    width: 450px;
    position: relative;
    z-index:10000;
}

.nokia-places-wordpress-searchbox .nokia-searchbox-input {
    background-color: #FFFFFF;
    border-radius: 6px;
    border-style: solid;
    border-width: 1px;
    border-color: #DFDFDF;
    float: left;
    height: 16px;
    width: 310px;
    line-height: 14px;
    margin: 0;
    overflow: hidden;
    padding: 7px 14px 5px 10px;
}

.nokia-places-wordpress-searchbox.suggest .nokia-searchbox-input{
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-color: #CCCCCC;
    box-shadow: none;
}

.nokia-places-wordpress-searchbox .nokia-searchbox-list-border{
    border-top: solid 1px #CCC;
    margin:0px 10px;
}

.nokia-places-wordpress-searchbox .nokia-searchbox-button {
    background-color: #FFFFFF;
    background-image: url("../images/icons_vert_sprite.png");
    background-position: 5px -879px;
    background-repeat: no-repeat;
    border: medium none;
    border-radius: 0 12px 12px 0;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.35);
    color: #333333;
    cursor: pointer;
    font-weight: lighter;
    font-size: 16px;
    height: 30px;
    margin: 0;
    width: 88px;
    padding: 0px 10px 0 22px;
    margin-left: 3px;
    border: solid 1px #BDCBE0;
}

.nokia-places-wordpress-searchbox .nokia-searchbox-button:hover{
    background-color: #CFCFCF;
}

.nokia-places-wordpress-searchbox .nokia-searchbox-list {
    border-radius:0px 0px 5px 5px;
    box-shadow: 3px 3px 5px -5px rgba(0, 0, 0, 0.5);
    background-color: #FFF;
    border-color: #CCCCCC;
    border-style: none solid solid;
    border-width: 0 1px 1px;
    top: 29px;
    color: #333;
    font-size: 14px;
    overflow: hidden;
    position: absolute;
    width: 334px;
    z-index: 10000;
}

.nokia-places-wordpress-searchbox .nokia-searchbox-list dl{
    margin: 10px 0px;
}

.nokia-places-wordpress-searchbox .nokia-searchbox-list dt{
    font-size: 12px;
    color: #999;
    margin-bottom: 5px;
    padding: 5px 10px;
}

.nokia-places-wordpress-searchbox .nokia-searchbox-list dd{
    margin: 0px;
    cursor: pointer;
    padding: 0px 10px 5px 10px;
}

.nokia-places-wordpress-searchbox .nokia-searchbox-list dd.selected{
    background-color: #EEEEEE;
}

.nokia-places-wordpress-searchbox .nokia-searchbox-list .suggestion{
    border-top:1px solid #EEEEEE;
    padding-top: 5px;
    display: block;
}

.nokia-places-wordpress-searchbox .nokia-searchbox-list dd.selected + dd .suggestion{
    border-top:1px solid #fff;
}

.nokia-places-wordpress-searchbox .nokia-searchbox-list dt + dd .suggestion{
    border: none;
}

.nokia-places-wordpress-searchbox .nokia-searchbox-list .suggestion strong{
    color: #0066AA;
    font-weight: bold;
}

.nokia-places-wordpress-searchbox .nokia-searchbox-list span.suggestion-address {
    display: block;
    font-size: 11px;
    color: #999;
}

.nokia-place-bubble {
    width: 250px;
}

.nokia-place-bubble.geo-loader{
    height: 100px;
    background: url('../images/loading2.gif') no-repeat 105px 37px;
}

.nokia-place-bubble *{
    font-family: Arial, Helvetica, sans-serif;
    margin:0px;
    padding:0px;
    border:none;
}

.nokia-place-bubble h3.nokia-place-name {
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    line-height: 15px;
    margin: 0px;
    padding: 3px 25px 0px 0px;
    white-space: normal;
}

.nokia-place-bubble .nokia-place-category {
    color: #999;
    font-size: 11px;
    display: block;
    line-height: 12px;
    padding-right: 25px;
}

.nokia-place-bubble .nokia-bubble-summary{
    margin-top: 5px;
    line-height: 13px;
    font-size: 11px;
}

.nokia-place-bubble .nokia-place-categicon{
    float: right;
}

.nokia-place-bubble .nokia-place-select{
    list-style: none;
    clear: both;
    margin: 10px 0px 0px 0px;
    height: 10px;
}

.nokia-place-bubble .nokia-place-select li{
    float: left;
    margin-right:10px;
}

.nokia-place-bubble .nokia-place-select a{
    color: #0099BB;
    cursor: pointer;
    font-family: Arial;
    font-size: 11px;
    font-weight: bold;
    text-decoration: none;
}

.nokia-place-bubble .nokia-place-select a:hover{
    background-color: #3C4650;
    border-radius: 5px 5px 5px 5px;
    margin: 0px -5px;
    padding: 2px 5px;
}

